
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {

    /* colors */
    --primary-color-1: hsl(237, 18%, 59%);
    --primary-color-2: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    --neutral-color-1: hsl(236, 21%, 26%);
    --neutral-color-2: hsl(235, 16%, 14%);
    --neutral-color-3: hsl(234, 17%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-color-3);
    background-image: url(/images/bg-stars.svg), linear-gradient(var(--neutral-color-3), var(--neutral-color-2));;
    background-size: cover ;

    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.main h1 {
    margin: 150px 30px 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 18px;
}


.flip-clock-container {
    display: flex;
    gap: 15px;

    font-size: 40px;
    line-height: 0;
 
}

.flip-clock {
    display: flex;
    perspective: 1000px;
}

.digits {
    position: relative;
    width: 70px;
    height: 70px;
}

.digits:before, .digits:after {
    position: absolute;

    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.digits:before {
    content: attr(data-digits-before);
    bottom: 0;
    align-items: flex-start;
}

.digits:after {
    content: attr(data-digits-after);
    top: 0;
    align-items: flex-end;
}

.card {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 50%;

    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateX(0);

    transition: transform .7s ease-in-out ;

}

.card.flipped {
    transform: rotateX(180deg);

}

.card-face {
    position: absolute;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    overflow: hidden;

    backface-visibility: hidden;
}

.card-face-front {
    align-items: flex-end;

    background-color: red;
    color: white;
}

.card-face-back {
    align-items: flex-start;

    background-color: blue;
    color: white;

    transform: rotateX(-180deg);
}

.caption {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 70px) ;
    gap: 15px;
}

.caption p {
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    letter-spacing: 3px;
    color: var(--primary-color-1);
}

/* footer section */

footer {
    margin-top: auto;
    height: 170px;
    width: 100%;
    background: url(/images/pattern-hills.svg);
    background-size: cover ;
    background-position: 25%;
}